
// Padding Sizes
$smlSpace: 0.4em;
$medSpace: 0.8em;
$lrgSpace: 1.2em;
$xlSpace: 1.8em;
$xxlSpace: 2em;

:root{
    --charcoal: #495057;
    --black: #1A1A1A;
    --jetBlack: #212529;
    --darkGrey: #57595b;
    --grey: #acacac;
    --lightGrey: #ced4da;
    --orange: #FF9B71;
    --red: #ee4f4f;
    --yellow: #EEDC76;
    --blue: #7EB2FF;
    --purple: #B899FF;
    --pink: #FF7EE1;
    --green: #7EFFA9;
    --beige: #eae8e5;
    --superLightGrey: rgb(234, 233, 233);
    --white: #f3f3f3;
    --dark: #212529;
    --blueGrey: #383B40;
    --darkBlueGrey: #2c2d2f;
    --ease: cubic-bezier(0.25, 0.1, 0.01, 1);
}
.red {
  background: var(--red) !important;
}

.orange {
  background: var(--orange) !important;
}

.yellow {
  background: var(--yellow) !important;
}

.green {
  background: var(--green) !important;
}

.pink {
  background: var(--pink) !important;
}

.purple {
  background: var(--purple) !important;
}

.blue {
  background: var(--blue) !important;
}