
// Padding Sizes
$smlSpace: 0.4em;
$medSpace: 0.8em;
$lrgSpace: 1.2em;
$xlSpace: 1.8em;
$xxlSpace: 2em;

:root{
    --charcoal: #495057;
    --black: #1A1A1A;
    --jetBlack: #212529;
    --darkGrey: #57595b;
    --grey: #acacac;
    --lightGrey: #ced4da;
    --orange: #FF9B71;
    --rted: #FF3562;
    --beige: #eae8e5;
    --superLightGrey: rgb(234, 233, 233);
    --white: #f3f3f3;
    --dark: #212529;
}